<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Senate loyalty</title>
</head>

<body>
    <div class="container">
        <div class="row"></div>
        <div class="col-sm-6"><img src="img/logo.png" width=50%; /></div>
    </div>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 113
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="house-data.html">House</a></li>
                    <li><a href="senate-data.html">Senate</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="active"><a href="house-attendance.html">House</a></li>
                    <li><a href="senate-attendance.html">Senate</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="house-party-loyalty.html">House</a></li>
                    <li><a href="senate-party-loyalty.html">Senate</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col-sm-8">
                <h2>Party Loyalty</h2>
                <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>
            </div>
            <div class="col-sm-4">
                <h2>House at a glance</h2>
                <table class="table">
                    <thead>
                        <th>Party</th>
                        <th>No. of Reps</th>
                        <th>% voted w/Party</th>
                    </thead>
                    <tbody id="senate-data">
                        <tr>
                            <td>Democrats</td>
                            <td>{{statistics.numberOfDemocrats}}</td>
                            <td>{{(statistics.promedioDeDemo).toFixed(2) + ("%")}}
                            <td>
                        </tr>
                        <tr>
                            <td>Republicans</td>
                            <td>{{statistics.numberOfRepublicans}}</td>
                            <td>{{(statistics.promedioDeRepu).toFixed(2) + ("%")}}</td>
                        </tr>
                        <tr>
                            <td>Independents</td>
                            <td>{{statistics.numberOfIndependents}}</td>
                            <td>{{(statistics.promedioDeIndep).toFixed(2) + ("%")}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>{{statistics.numberOfDemocrats + statistics.numberOfRepublicans + statistics.numberOfIndependents}}</td>
                            <td>{{(statistics.promedioDeDemo + statistics.promedioDeRepu + statistics.promedioDeIndep).toFixed(2) + ("%")}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Least Engaged (Bottom 10% Attendence)</h2>
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>No. Missed Votes</th>
                        <th>% Missed</th>
                    </thead>
                    <tbody id="leastLoyal">
                    <tr v-for="member in leastLoyal">
                        <td>{{member.first_name}} {{member.middle_name}} {{member.last_name}}</td>
                        <td>{{member.total_votes}}</td>
                        <td>{{member.votes_with_party_pct}}</td>
                    </tr>
                    </tbody>

                </table>


            </div>
            <div class="col-sm-6">
                <h2>Most Engaged (Top 10% Attendence)</h2>
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>No. Missed Votes</th>
                        <th>% Missed</th>
                    </thead>
                    <tbody id="mostLoyal">
                    <tr v-for="member in mostLoyal">
                      <td>{{member.first_name}} {{member.middle_name}} {{member.last_name}}</td>
                        <td>{{member.total_votes}}</td>
                        <td>{{member.votes_with_party_pct}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="statistics.js"></script>
</body>

</html>
